.button{
    padding: 6px;
    background-color: transparent;
    border-color: transparent;
    border-width: 1px;
    border-radius: 8px;
    width: 40px;
    height: 40px;
}

.bg-yellow{
    background-color: #fff200;
    border-color: #c71b00;
}
.bg-red {
    background-color: #c71b00;
    border-color: #21b021;
}
.bg-green{
    background-color: #21b021;
    border-color: #150da0;
}
.bg-blue{
    background-color: #150da0;
    border-color: #ffffff;
}
.bg-white{
    background-color: #ffffff;
    border-color: #000000;
}
.bg-black{
    background-color: #000000;
    border-color: #fff200;
}

.box{
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    margin-left: 510px;
}

.large{
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-color: #97d2e1;
}
